/* screen - rogeuin */

.rogeuin {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1152px;
  overflow: hidden;
  width: 1366px;
}

.rogeuin .overlap-group-container {
  height: 1396px;
  margin-left: -424px;
  margin-top: 96px;
  position: relative;
  width: 2059px;
  z-index: 1;
}

.rogeuin .overlap-group4 {
  height: 1396px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2059px;
}

.rogeuin .x29 {
  height: 739px;
  left: 1019px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 771px;
}

.rogeuin .place {
  color: var(--woody-brown);
 font-family: ONE Mobile POP;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
  left: 449px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 115px;
  width: 588px;
}

.rogeuin .x143620 {
  align-items: flex-start;
  display: flex;
  height: 757px;
  justify-content: flex-end;
  left: 0;
  min-width: 2059px;
  position: absolute;
  top: 639px;
}

.rogeuin .x4829 {
  background-image: url(../img/file---4609@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 748px;
  width: 962px;
}

.rogeuin .overlap-group3 {
  align-self: flex-end;
  height: 598px;
  margin-left: 53px;
  position: relative;
  width: 1044px;
}

.rogeuin .x4691 {
  height: 598px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 888px;
}

.rogeuin .fleet {
  color: #000000;
  font-family: var(--font-family-im_hyemin-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 110px;
  white-space: nowrap;
}

.rogeuin .copyright-2021-ui8 {
  color: #000000;
  font-family: var(--font-family-im_hyemin-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 161px;
  white-space: nowrap;
}

.rogeuin .overlap-group5 {
  height: 96px;
  left: 511px;
  position: absolute;
  top: 437px;
  width: 242px;
}

.rogeuin .button {
  height: 1px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 11px;
}

.rogeuin .x375 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 9px;
  min-height: 96px;
  position: absolute;
  top: 0;
  width: 233px;
}

.rogeuin .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 22px;
  margin-top: 4px;
  min-width: 228px;
}

.rogeuin .path {
  height: 11px;
  object-fit: cover;
  width: 16px;
}

.rogeuin .value {
  align-self: flex-end;
  color: #3d3d3d;
  font-family: var(--font-family-im_hyemin-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 13px;
  min-height: 22px;
  min-width: 199px;
  white-space: nowrap;
}

.rogeuin .overlap-group {
  align-items: flex-start;
  background-image: url(../img/area@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 58px;
  justify-content: flex-end;
  margin-top: 12px;
  min-width: 164px;
  padding: 17.4px 56.9px;
}

.rogeuin .label-1 {
  color: var(--white);
  font-family: var(--font-family-onemobile_pop-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.43px;
  line-height: 24px;
  min-height: 21px;
  min-width: 48px;
  text-align: center;
  white-space: nowrap;
}

.rogeuin .overlap-group1 {
  height: 70px;
  left: 521px;
  position: absolute;
  top: 236px;
  width: 441px;
}

.rogeuin .x50 {
  background-color: var(--white);
  border: 1.5px solid #d4d4d5;
  border-radius: 4px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 441px;
}

.rogeuin .email {
  color: #f2597f;
  font-family: var(--font-family-im_hyemin);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 0;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.rogeuin .span0 {
  color: #555558;
  font-family: var(--font-family-im_hyemin-bold);
}

.rogeuin .span1 {
  color: #4e6ffc;
  font-family: var(--font-family-im_hyemin-bold);
}

.rogeuin .span2 {
  font-family: var(--font-family-im_hyemin-bold);
}

.rogeuin .overlap-group-1 {
  height: 17px;
  left: 14px;
  position: absolute;
  top: 38px;
  width: 24px;
}

.rogeuin .x52 {
  border: 1.5px solid var(--dove-gray);
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.rogeuin .x54 {
  height: 9px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 24px;
}

.rogeuin .text_input {
  background-color: transparent;
  border: 0;
  color: var(--dove-gray);
  font-family: var(--font-family-im_hyemin-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 22px;
  left: 48px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  top: 37px;
  white-space: nowrap;
  width: 387px;
}

.rogeuin .text_input::placeholder {
  color: #70707099;
}

.rogeuin .overlap-group2 {
  height: 70px;
  left: 521px;
  position: absolute;
  top: 340px;
  width: 441px;
}

.rogeuin .x50-1 {
  background-color: var(--white);
  border: 1.5px solid #d4d4d5;
  border-radius: 4px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 441px;
}

.rogeuin .password {
  color: #555558;
  font-family: var(--font-family-im_hyemin-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 0;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.rogeuin .lock {
  background-image: url(../img/combined-shape@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  left: 16px;
  position: absolute;
  top: 34px;
  width: 20px;
}

.rogeuin .x3-2 {
  display: flex;
  height: 53px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1366px;
  z-index: 2;
}

.rogeuin .x143634 {
  display: flex;
  flex: 1;
  width: 1366px;
}

.rogeuin .x4830 {
  display: flex;
  flex: 1;
  width: 1366px;
}

.rogeuin .x368 {
  align-items: flex-start;
  background-color: #483f3f4a;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 0 20px;
}

.rogeuin .overlap-group2-1 {
  height: 53px;
  position: relative;
  width: 1322px;
}

.rogeuin .overlap-group1-1 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.rogeuin .tab-item-1 {
  height: 53px;
  left: 489px;
  position: absolute;
  top: 0;
  width: 42px;
}

.rogeuin .area {
  height: 53px;
  left: 357px;
  position: absolute;
  top: 0;
  width: 42px;
}

.rogeuin .x143633 {
  align-items: flex-end;
  display: flex;
  height: 20px;
  left: 0;
  min-width: 1322px;
  position: absolute;
  top: 17px;
}

.rogeuin .label-container {
  height: 22px;
  margin-bottom: -4px;
  position: relative;
  width: 435px;
}

.rogeuin .label-2 {
  -webkit-text-stroke: 1px transparent;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.rogeuin .label-3 {
  -webkit-text-stroke: 1px transparent;
  left: 350px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.rogeuin .label {
  -webkit-text-stroke: 1px transparent;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -4px;
  margin-left: 81px;
  min-height: 22px;
  min-width: 100px;
  white-space: nowrap;
}

.rogeuin .label-4 {
  -webkit-text-stroke: 1px transparent;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -4px;
  margin-left: 80px;
  min-height: 22px;
  min-width: 114px;
  white-space: nowrap;
}

.rogeuin .label-5 {
  -webkit-text-stroke: 1px transparent;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -4px;
  margin-left: 195px;
  min-height: 22px;
  min-width: 46px;
  white-space: nowrap;
}

.rogeuin .label-6 {
  -webkit-text-stroke: 1px transparent;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -4px;
  margin-left: 28px;
  min-height: 22px;
  min-width: 62px;
  white-space: nowrap;
}

.rogeuin .tabs {
  display: flex;
  height: 42px;
  justify-content: flex-end;
  left: 540px;
  position: absolute;
  top: 11px;
  width: 176px;
}

.rogeuin .tab-item-2 {
  display: flex;
  flex: 1;
  margin-right: 9px;
}

.rogeuin .area-1 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 125px;
}

.rogeuin .bar-stateactive {
  background-color: var(--white);
  border-radius: 1000px;
  margin-bottom: 19.5px;
  margin-right: -12.5px;
  margin-top: 20.5px;
  transform: rotate(90deg);
  width: 27px;
}

.rogeuin .tab-item {
  width: 42px;
}

.rogeuin .tabs-1 {
  height: 42px;
  left: 858px;
  position: absolute;
  top: 6px;
  width: 42px;
}

.rogeuin .bar-stateactive-1 {
  background-color: var(--white);
  border-radius: 1000px;
  height: 2px;
  left: 456px;
  position: absolute;
  top: 26px;
  transform: rotate(90deg);
  width: 27px;
}

.rogeuin .bar-stateactive-2 {
  background-color: var(--white);
  border-radius: 1000px;
  height: 2px;
  left: 842px;
  position: absolute;
  top: 26px;
  transform: rotate(90deg);
  width: 27px;
}

.rogeuin .tabs-2 {
  display: flex;
  height: 42px;
  justify-content: space-between;
  left: 1128px;
  position: absolute;
  top: 7px;
  width: 174px;
}
