:root { 
  --dove-gray: #707070;
  --white: #ffffff;
  --woody-brown: #403332;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-xl: 31px;
  --font-size-xxl: 60px;
 
  --font-family-im_hyemin: "IM_Hyemin", Helvetica;
  --font-family-im_hyemin-bold: "IM_Hyemin-Bold", Helvetica;
  --font-family-im_hyemin-regular: "IM_Hyemin-Regular", Helvetica;
  --font-family-onemobile_pop-regular: "ONEMobile POP-Regular", Helvetica;
}
.imhyemin-bold-woody-brown-16px {
  color: var(--woody-brown);
  font-family: var(--font-family-im_hyemin-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
