@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Gowun+Dodum:400|Noto+Sans:600");
@font-face {
  font-family: "ONEMobile POP-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ONE Mobile POP OTF.otf") format("opentype");
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IM_Hyemin-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IM_Hyemin-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IM_Hyemin-Regular.ttf") format("truetype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61ed07f32db43d929ddc5fcb.61ed07f556f642c233f45eac.wUgg8De.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
